
.DS_Store
.trigger
.hash
.lib

inspector/ios-inspector/ForgeInspector/*
inspector/ios-inspector/.DS_Store

####
#FORGE
module/.DS_Store
module/identity.json
module/inspector_config.json
module/ios/.DS_Store
module/ios/.placeholder
module/ios/module.a

inspector/ios-inspector/.hash
inspector/ios-inspector/.DS_Store
inspector/ios-inspector/ForgeCore.bundle
inspector/ios-inspector/ForgeCore.framework
inspector/ios-inspector/ForgeInspector
inspector/ios-inspector/build
inspector/ios-inspector/ForgeInspector.xcodeproj/project.pbxproj
inspector/ios-inspector/ForgeInspector.xcodeproj/project.xcworkspace/xcshareddata/ForgeInspector.xccheckout
inspector/ios-inspector.*
inspector/ios-inspector/ForgeModule/ForgeModule-Prefix.pch
inspector/ios-inspector/ForgeModule/ForgeModule.xcodeproj/project.pbxproj
inspector/ios-inspector/ForgeModule/ForgeModule.xcodeproj/xcshareddata/xcschemes/ForgeModule.xcscheme
inspector/ios-inspector/ForgeModule/ForgeModule.xcodeproj/xcshareddata/xcschemes/ForgeModuleResources.xcscheme
inspector/ios-inspector/ForgeInspector.xcodeproj/project.xcworkspace/contents.xcworkspacedata

inspector/an-inspector.*
inspector/an-inspector/ForgeInspector
inspector/an-inspector/ForgeModule/.settings
inspector/an-inspector/ForgeModule/libs
inspector/an-inspector/ForgeModule/res
inspector/an-inspector/ForgeModule/gen
inspector/an-inspector/ForgeModule/bin
inspector/an-inspector/ForgeModule/trigger-gen
inspector/an-inspector/ForgeModule/.classpath
inspector/an-inspector/ForgeModule/.project
inspector/an-inspector/ForgeModule/AndroidManifest.xml
inspector/an-inspector/ForgeModule/project.properties
